{% extends 'base.html' %}
{% load staticfiles %}
{% block block_content %}
{%block title_block%} Contact {%endblock%}

<div class="contact" style='margin-top:150px;'>
		<div class="container">
			<div class="row">

				<!-- Contact Info -->
				<div class="col-lg-4">
					<div class="contact_info">
						<div class="section_title">Get in touch with us</div>
						<div class="section_subtitle">Say hello</div>
						<div class="contact_info_text"><p>Donec ullamcorper nulla non metus auctor fringi lla. Curabitur blandit tempus porttitor.Sed lectus urna, ultricies sit amet risus eget.</p></div>
						<div class="contact_info_content">
							<ul class="contact_info_list">
								<li>
									<div>Address:</div>
									<div>1481 Creekside Lane Avila Beach, CA 93424</div>
								</li>
								<li>
									<div>Phone:</div>
									<div>+53 345 7953 32453</div>
								</li>
								<li>
									<div>Email:</div>
									<div>yourmail@gmail.com</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Contact Form -->
				<div class="col-md-8">
   <form class="" action="" method="post">
		 {% csrf_token %}
		 {%if user.is_authenticated%}
		 <input type="hidden" name="user_id" value="{{user.id}}">
		 {%else%}
		 <input type="hidden" name="user_id" value="0">
		 {%endif%}
		 <input type="hidden" name="realter_email" value="">
      <input type="text" name="name" value="" placeholder="Name" size="20"><br><br>
      <input type="text" name="email" value="" placeholder="Email"><br><br>
      <textarea name="name" rows="3" cols="40">address</textarea><br><br>
      <textarea name="name" rows="4" cols="40">Message</textarea><br><br>
      <input type="submit" name="name" value="Send" class="btn btn-primary">
   </form>
				</div>
			</div>
		</div>
	</div>

	<!-- Map -->

	<div class="contact_map">
		<!-- Google Map -->
		<div class="map">
			<div id="google_map" class="google_map">
				<div class="map_container">
					<div id="map"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{%static 'images/newsletter.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_content d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="newsletter_title_container">
							<div class="newsletter_title">Are you buying or selling?</div>
							<div class="newsletter_subtitle">Search your dream home</div>
						</div>
						<div class="newsletter_form_container">
							<form action="#" class="newsletter_form">
								<input type="email" class="newsletter_input" placeholder="Your e-mail address" required="required">
								<button class="newsletter_button">subscribe now</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  {%endblock%}
